
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    background-color: #121212;
    color: #e3e3e3;
    font-family: 'Lato', sans-serif;
}

header
{
	display: flex;
	justify-content: space-between;
    background-color: unset;
    height: 60px;
    width: 100%;

}

#logout{
	font-size: 20px;
	border-style: solid;
	margin-right: 30px;
	padding : 5px 20px 5px 20px;
	text-decoration: none;
	vertical-align: middle;
    color:#e3e3e3;
	margin-top: 20px;
	border-radius: 20px;
    border-color: #5f5793;
    background-color: #6558b0;
}

#header-img
{
    height: 40px;
    display:block;
    margin-left : 30px;
    margin-top: 20px;
}

main{
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    height: auto;
    background-color: unset;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

h1{
    font-size: 22px;
    text-align: center;
}

.part{
    height: auto;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 20px;

}


.photoBooth{
    margin-top: 30px;
    width: 600px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 400px;
    background-color: #181818;
    border-radius: 10px;
    margin-bottom: 30px;

}

.part h1{
    margin-top: 30px;
}

button, input[type= "submit"]
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    font-size: 20px;
    border-style: groove;
    border-width: 1px;
    border-radius: 20px;
    background-color: #6558b0;
    color: #e3e3e3;
    padding: 5px 22px 5px 22px;
    border-color: #5f5793;
}

footer{
    padding-left: 30px;
    padding-right: 30px;
    bottom: 0px;
    background-color: #181818;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#capturedPic{
    border-radius: 10px;
}